@tailwind base;
@tailwind components;
@tailwind utilities;
.Forst {
  box-shadow: 0 0 2rem 0 rgba(76, 217, 236, 0.221);
  backdrop-filter: blur(3px);
  background-color: #ffffff1e;
}
.navbar {
  background-color: #ffffff2c;
}
tr {
  width: 10px;
}
#type td {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 1rem 0 rgba(60, 38, 38, 0.297);
}
::selection {
  background-color: rgba(250, 250, 250, 0.46);
}
