@tailwind base;
@tailwind components;
@tailwind utilities;
.Forst {
  /* box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.076); */
  border-radius: 20px;
  /* background:transparent; */

  background: #ffffff10;
  backdrop-filter: blur(5px);
}
tr{
  width: 10px;
}
#type td{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 1rem 0 rgba(60, 38, 38, 0.297);
}
::selection{
  background-color: rgba(250, 250, 250, 0.46);
}
